/* header *//* header */

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }

#top-head {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 26px 0 0;
    line-height: 1;
    background: #fff;
}
#top-head:after {
    content: "";
    display: block;
    height: 1px;
    color: black;
    background: rgba(0,0,0,.0975);
    /*width: 980px;*/
    width: 100%;
    margin: 26px auto 0;
}

#top-head a,
#top-head {
    color: black;
    text-decoration: none;
    z-index: 20;
    font-size: 18px;
}

#top-head .inner {
    width: 100%;
    height: 24px;
    /*padding: 0 20px;*/
    position: relative;

}
#top-head .logo {
    float: left;
    font-size: 32px;
}
#global-nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: -5px;
    font-size: 14px;
    padding-right: 10px;
}
#global-nav ul li {
    float: left;
    position: relative;

    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

#global-nav ul li :hover, #global-nav ul li :focus {
  color:tomato;
}

#global-nav ul li :hover > svg, #global-nav ul li :focus > svg{
  color:tomato;
}

#global-nav ul li a {
    padding: 0 20px;
}

#top-head,
#top-head:after,
#top-head .logo,
#top-head .name-logo,
#global-nav ul li,
#global-nav ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/* Fixed */
#top-head.fixed {
    padding-top: 26px;
    background: #fff;
}
#top-head.fixed .logo {
    /*font-size: 24px;*/
    /*width: 64px;*/
    /*color: #333;*/
}

#top-head.fixed .name-logo {
  /*width: 20%;*/
}


#top-head.fixed:after {
    width: 100%;
    margin-top: 26px;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}

 #top-head .map-logo {
   height: 36px;
   position: absolute;
   bottom: -9px;
 }

 #svg2 {
   position: absolute;
   fill: #666666;
   /*width: 25%;*/
   height: 50px;
   left: 100px;
   bottom: -21px;
 }

.inner {
    width: 980px;
    margin: 0 auto;
}

.header-nav {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header--nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
}

.header-icon {
  margin-left: 30px;
}

.header-add {
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -104px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.header-map {
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -208px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.header-login {
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -374px -353px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

@media (max-width: 735px) {

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  .pc { display: none !important; }
  .sp { display: block !important; }

  #top-head {
    padding-top: 5px;
  }

  #top-head:after {
    margin-top: 15px;
  }

  .mobile-logo {
    position: absolute;
    left: 30%;
  }

  .logo-link {
    position: absolute;
    height: 40px;
  }

  #top-head .name-logo {
    position: relative;
    top: 0px;
    left: 0;
  }

  .header--nav {
    padding-top: 5px;
  }

}

@media only screen and (max-device-width : 480px){
/* スマートフォンだけ以下を適用 */

  #svg2 {
    position: absolute;
    fill: #666666;
    top: 20%;
    /*width: 40%;*/
    height: 40px;
  }

  #top-head #svg {
    height: 40px;
    /*width: 60px;
    height: 60px;*/
  }

  #top-head.fixed .name-logo {
    width: 30%;
  }


}
